* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title h1 {
  font-size: 18px;
  padding: 30px;
  color: #fff;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: #000;
}

.nav__ul {
  display: flex;
  justify-content: flex-end !important;
  margin: 0;
  padding: 0;
}

.nav__li {
  padding: 30px;
  list-style-type: none;
  color: #fff;
}
.nav__li a {
  text-decoration: none;
  color: #fff;
}

.end {
  display: flex;
  justify-content: flex-end;
}

.carousel-item img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.d-none {
  display: block !important;
}

.bg-color {
  background-color: rgb(34, 183, 241);
}

.bienvenidos {
  padding: 30px;
}
.bienvenidos h2 {
  text-align: center;
}

.text-color {
  color: #000;
}

.presentacion {
  display: flex;
  padding: 30px;
  justify-content: center;
  align-items: center;
}
.presentacion img {
  max-width: 350px;
  height: 500px;
  object-fit: cover;
  border: 7px solid rgb(34, 183, 241);
}
.presentacion h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 30px;
}

.bg-p {
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.7607843137);
}

.presentacion-miramar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-image: url(../img/arco-miramar.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  border-radius: 40px;
}
.presentacion-miramar h3 {
  color: #fff;
  padding: 30px;
  background: rgba(0, 0, 0, 0.384);
  backdrop-filter: 0.4rem;
  border-radius: 40px;
  padding: 10px;
}

.presentacion-playa {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-image: url(../img/miramar-playa.webp);
  border-radius: 40px;
}
.presentacion-playa h3 {
  color: #fff;
  padding: 30px;
  background: rgba(0, 0, 0, 0.521);
  backdrop-filter: 0.4rem;
  border-radius: 40px;
  padding: 10px;
}

.presentacion-bosque {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-image: url(../img/bosque-energetico.jpg);
  border-radius: 40px;
}
.presentacion-bosque h3 {
  color: #fff;
  padding: 30px;
  background: rgba(0, 0, 0, 0.384);
  backdrop-filter: 0.4rem;
  border-radius: 40px;
  padding: 10px;
}

@media only screen and (max-width: 6000px) {
  .navbar {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  .nav {
    display: none;
  }
  .navbar {
    display: flex;
  }
  .bg-dark {
    background-color: #000 !important;
  }
  .text-bg-dark {
    background-color: #000 !important;
  }
  .offcanvas-header {
    position: relative;
  }
  .offcanvas-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .nav-li {
    list-style-type: none;
    padding: 20px;
    transition: 0.9s;
  }
  .nav-li a {
    color: #fff;
    text-decoration: none;
  }
  .nav-li a:hover {
    background-color: #4E3636;
  }
}
@media only screen and (max-width: 800px) {
  .carousel-item img {
    max-width: 100% !important;
    height: auto !important;
    object-fit: cover;
    object-position: center;
    max-height: 500px;
  }
  .carousel-inner {
    max-width: 100% !important;
  }
}
@media only screen and (max-width: 386px) {
  .carousel-caption {
    padding-bottom: 0;
    padding-top: 0;
  }
  .carousel-caption h5 {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 500px) {
  .bienvenidos {
    padding: 10px;
  }
}
@media only screen and (max-width: 800px) {
  .presentacion {
    flex-direction: column;
    max-width: 100%;
    height: auto;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}

/*# sourceMappingURL=style.css.map */
