.title{
   h1{
    font-size: 18px;
    padding: 30px;
    color: #fff;
   } 
}
.nav{
    display: flex;
    justify-content: space-between;
    background-color: #000;
  
}
.nav__ul {
    display: flex;
    justify-content: flex-end !important;
    margin: 0;
    padding: 0;
}
.nav__li{
    padding: 30px;
    list-style-type: none;
    color: #fff;
    a {
        text-decoration: none;
        color: #fff;
    }
}
.end {
    display: flex;
    justify-content: flex-end;
}
.carousel-item {
     img{

        max-width:  100%;
        height: auto;
        object-fit: cover;
     }
}
.d-none {
    display: block !important;
}
.bg-color {
    background-color: rgb(34, 183, 241);
}
.bienvenidos {
    padding: 30px;
    h2 {
        text-align: center;
    }
    
}
.text-color {
    color: #000;
    
}
.presentacion {
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    

    img {
        max-width: 350px;
        height: 500px;
        object-fit: cover;
        border: 7px solid rgb(34, 183, 241);
    }
    h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        margin-bottom: 30px;
        
    
    }
}
.bg-p {
    padding: 30px;
    background-color: #000000c2;
}
.presentacion-miramar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-image: url(../img/arco-miramar.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    border-radius: 40px;
    

    h3 {
        color: #fff;
        padding: 30px;
        background: rgba(0, 0, 0, 0.384);;
	    backdrop-filter: 0.4rem;
        border-radius: 40px;
        padding: 10px;

    }
}
@mixin repeat-estructura {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    background-position: center;
}

.presentacion-playa {
    @include repeat-estructura();
    background-image: url(../img/miramar-playa.webp);
    border-radius: 40px;
    

    h3 {
        color: #fff;
        padding: 30px;
        background: rgba(0, 0, 0, 0.521);;;
	    backdrop-filter: 0.4rem;
        border-radius: 40px;
        padding: 10px;
        

    }
}

.presentacion-bosque {
    @include repeat-estructura();
    background-image: url(../img/bosque-energetico.jpg);
    border-radius: 40px;

    h3 {
        color: #fff;
        padding: 30px;
        background: rgba(0, 0, 0, 0.384);;
	    backdrop-filter: 0.4rem;
        border-radius: 40px;
        padding: 10px;
        

    }
}